@media only screen and (min-width:1023px) {
    #hamburgerBtn{
        display: none;
    }
    .main-container{
        padding: 0 5%;
    }
    header{
        background-image: none;
    }
    .header-container{
        display: flex;
        flex-direction: row;
    }

    .header-container nav ul{
        display: flex;
        flex-direction: row;
    }

    .header-container nav{
        margin-top: 2.5%;
        flex-grow: 8;
    }

    .toggle-nav {
        background-color: white;
        margin:0 2%;
        justify-content: end;
    }
    .toggle-nav li a {
        
        padding: 0.75rem;
    }

    .toggle-nav li a:hover {
        color: white;
        background-color: #e7482c;;
    }

    .hero-image{
        height: 670px;
    }

    .h-image-1-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/heropage-1.jpg");
    }

    .picture-container div:nth-child(1){
        width: 70%;
    }

    .picture-container div:nth-child(2){
        width: 30%;
    }

    .rental-card{
        flex-direction: column;
        width: 100%;
    }

    .rental-card .rentcard-summary {
        border: none;
        border-top: 2px solid #272727ba;
    }
    .rental-card-container{
        flex-direction: row;
        gap: 12px;
        justify-content: center;
    }

    .rentcard-summary{
        width: 100%;
    }

    .weather-container{
        margin-bottom: 10%;
    }

    .contact-section form{
        width: 50%;
        margin: 0 auto;
    }

    .button-m:hover , button:hover{
        color: #e7482c;
        background-color: white;
    }
    .hero-img-section button:hover {
        background-color: #e7482cc9;
        color: white;
    }

    .rentcard-summary a:hover{
        background-color: #e7482c;
        color: white;
    }

    .contact-section form button:hover{
        color: #e7482c;
        background-color: white;
    }

    

    .h-image-5-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/contact.jpg");
    }

    .h-image-2-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/rentals-1279.jpg");
    }

    .h-image-3-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/reservation.jpg");
    }

    .h-image-4-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/island_Cozumel-h-1279.jpg");
    }
    .rental-card:nth-child(even){
        flex-direction: column;
        
    }

    .rental-card:nth-child(even) .rentcard-summary{
        border-right:none;
    }
    
    .rental-card:nth-child(odd) .rentcard-summary{
        border-left:none;
    }

    
    
    .rental-card-a .rental-card:hover div p{
        color: #e7482c;
    }
    .rental-card-a .rental-card:hover{
        border: 1px solid #e7482c;
    }
    .rental-card-a .rental-card:hover .rentcard-summary {
        border: none;
        border-top: 2px solid #e7482c;
    }

    .vehicle-containerhonda-container{
        flex-direction: column;
    }

    .scoot-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .reservation-container{
        width: 50%;
    }

    
    .tours-container div{
        flex: 29%;
    }

    .location-container iframe {
        width: 800px;
    }
}
