/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Secular+One&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FFEC51;
  --secondary-color: #009FB7;
  --accent1-color: #e7482c;
  --accent2-color: #272727;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Secular One', sans-serif;
  --paragraph-font: 'Quicksand', sans-serif ;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #FF674D; /* headlines on a white background */
  --headline-color-on-color: #ff684db2; /* headlines on a colored background */
  --paragraph-color-on-white: #272727; /* paragraph text on a white background */
  --paragraph-color-on-color: #272727; /* paragraph text on a colored background */
  --text-background-color: #009FB7;
  --nav-link-color: #FF674D;
  --nav-background-color: white;
  --nav-hover-link-color: #FFFFFF;
  --nav-hover-background-color: #FF674D;
}

/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
  background-color: var(--primary-color);
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
}
header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--text-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1em;
  min-width: 70px;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* .sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas:
    ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page3 page4 page5";
} */


/* .sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #999;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #999;
  line-height: 3em;
}
.sm-page3,.sm-page4,.sm-page5 {
  grid-area: page3;
  background-color: #999;
  line-height: 3em;
} */

.sitemap{
  display:flex;
  flex-direction: column;
}

.link-nav_children{
  margin-top: 5%;
  display: flex;
  gap: 5%;
  justify-content: center;
}

.link-nav_children div{
  padding: .8% 5%;
  border: 1px solid black;
}


.sitemap > div {
  text-align: center;
}
.sm-home {
  margin: auto;
  width: 25%;
  background-color: #999;
  line-height: 3em;
}
.sm-page2, .sm-page3,.sm-page4,.sm-page5 {
  grid-area: page3;
  background-color: #999;
  line-height: 3em;
}


.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
