@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Secular+One&display=swap');
html {
    scroll-behavior: smooth;
  }
*{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,a, button {
    color: #272727;
  font-family: 'Secular One', sans-serif;
  font-weight: 500;
  line-height: 155%;
  word-spacing: 3px;
}

p,label{
    font-family: 'Quicksand', sans-serif;
    color: #272727;
    line-height: 155%;
    font-size: 1rem;
}
.main-container{
    padding: 2%;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
}

.toggle-nav li a:active{
    background-color: #e7482cc2;
}
.toggle-nav{
    margin: 0;
    padding: 0;
    background-color: #272727c2;
    display: none;
}
.toggle-nav li a{
    padding: 2%;
    display: block;
}
.open-list{
    display: block;
}

.logo{
    display: inline;
}

.logo picture img{
    margin: 1% 0 0 1%;
}

#hamburgerBtn{
    float: right;
    margin: 2%;
    border: none;
    /* background-color: #009FB7; */
    background-color: transparent;
    /* color: #009FB7; */
    color: #e7482c;
    font-size: 1.5em;

}

.active{
    background-color: #e7482ce0;
    color: white;
    
}
.active a{
    color: white;
}



.hero-image h1, .hero-image h2{
    color:white;
}
.hero-image h2{
    margin: 0;
    font-size: 1.2em;
}
.hero-image h1{
    margin-bottom: 0;
    font-size: 3rem;
}
.hero-image picture img{
    width: 100%;
    opacity: .8;
}
header{
    /* border: 2px solid #009FB7; */
    background-image:linear-gradient(white,white,white, #27272740);
    margin-bottom: 3px;
}

.header-container{
    display: flex;
    flex-direction: column;
}
.hero-img-section button,.weather-container button{
    border: none;
    color: white;
    background-color: #e7482c;
    padding: 4%;
    width: 100%;
    border-radius: 11px
}




.hero-img-section button:active,.weather-container button:active{
    color: #e7482c;
    background-color: white;
    
}

.hero-image{
    text-align: center;
    width: 100%;
    padding: 11%;
}

.h-image-1-url{
    background-image: linear-gradient(#009fb70f, #009fb775),url("../images/heropage-1-700.jpg");
}
.weather-container{
    margin: 10% 0;
    padding: 6%;
    /* background-color: #2727271a; */
    /* background-image:linear-gradient(white, #2727272e); 
    background-image:linear-gradient(white,white, #ffec51c4);*/
    background-image:linear-gradient(white,white, #009fb740);
    
}
.weather-container h3{
    text-align: center;
}
.hero-img-section{
    margin-bottom: 10%;
}

.picture-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.picture-container div{
    margin: 7% 0;
}

.picture-container div picture img{
    width: 100%;
}

.weather-container div div p{
    text-align: center;
}

.rental-summary{
    display: flex;
    flex-direction: column;
    margin: 10% 0;
}

.rental-card{
    display: flex;
    flex-direction: row;
    border: 1.5px solid #27272769;
    margin: 1% 0;
}

.rental-summary div:nth-child(5) p a{
    color: #e7482c;
}

/* .rental-card:nth-child(odd){
    flex-direction: row-reverse;
    
} */



.rental-card-container{
    display: flex;
    flex-direction: column;
}
/* .rental-summary div picture img{
    width: 100%;
    border-radius: 10px 0 0px 10px;
}
.rental-summary div:nth-child(1) {
    padding: 0 8%;
    text-align: center;
} */

.rental-summary div picture img{
    width: 100%;
    border-radius: 10px 0 0px 10px;
}
.rental-summary > div:nth-child(1) {
    padding: 0 8%;
    text-align: center;
}

/* .rental-summary div:nth-child(1) {
    padding: 0 8%;
    text-align: center;
} */

.rental-summary > div:nth-child(3) {
    padding: 0 8%;
    text-align: center;
    background: #c3ecf0a8;
}

.rentcard-summary{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 1%;
}

.rental-card{
    border-radius: 10px;
    padding: 1%;
}

/* .rental-card:nth-child(odd) .rentcard-summary{
    border-right:2px solid #272727ba;
} */

/* .rental-card:nth-child(odd) .rentcard-summary{
    border-right:2px solid #272727ba;
} */

.rentcard-summary a{
    background-color: white;
    color: #e7482c;
    border: 1px solid #e7482c;
    border-radius:10px;
    padding: 6% 1%;
}

.rentcard-summary a:active{
    background-color: #e7482c;
    color: white;
}

.contact-section{
    margin: 10% 0;
    padding: 0 10% 8% 10%;
    text-align: center;
    /* background-color: #2727271a; */
    /* background-image:linear-gradient(white, #2727272e);
    background-image:linear-gradient(white,white, #ffec51c4); */
    background-image:linear-gradient(white,white, #009fb740);
    
    
}
.contact-section form {
    padding: 4% 3%;
    border: 1px solid black;
    border-radius: 9px;
    background-color: white;
    border: 1.5px solid #27272769;
}
.contact-section form div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3%;
}

input,textarea{
    padding: 3% 2%;
    border: 1.5px solid #27272769;
}

.contact-section form div label{
    display: flex;
    flex-direction: column;
}

.contact-section form button,.reservation-container button{
    border: none;
    color: white;
    background-color: #e7482c;
    border: 1px solid #e7482c;
    padding: 4%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    width: 100%;
    
}

.reservation-container form textarea{
    width: 100%;
}
.contact-section form button:active ,.reservation-container button:active{
    color: #e7482c;
    background-color: white;
    
}

.social-media{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
.social-media li{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.social-media li img{
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

.location-section{
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: center;
}

.social-container{
    display: flex;
    margin-top: 5%;
}

.social-container div{
    margin: 0 auto;
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #272727;
}

footer h5{
    color: #e7482c;
}
footer div ul{
    display: flex;
    justify-content: center;
    padding: 0;
}

footer div ul li{
    margin: 0 .8%;
    
}

footer div ul li a{
    color: white;    
}

.active2 a{
    color: #e7482c;
}

.open{
    display: block;
}

.button-m{
    display: none;
}

.button-s{
    display: block;
    margin-top: 2px;
    border-radius: 0 0 12px 12px;
}

/* .forecast{
    display: none;
    padding: 0 15%;
} */
.forecast{
    display: flex;
}
.forecast div{
    text-align: center;
    width: 20%;
    border: 1px solid #FFEC51;
    margin: 0.3%;
    background-color: #bee9ef;
}

.forecast div hr{
    margin: 2px;
}

.forecast div h5{
    margin: 0;
    margin-bottom: 9%;
    padding: 11% 0;
    background-color: #FFEC51;
    color: #272727a8;
}

.forecast div span{
    color: #272727a8;
}
.forecast div p{
    margin: 0;
}

.pad-0{
    padding: 0;
}

.width-100{
    width: 100%;
}

.rental-card-a .rental-card:active{
    border: 1px solid #e7482c;
}

.rental-card-a .rental-card:active div p{
    color: #e7482c;
}

.rental-card-a .rental-card:hover div p{
    color: #e7482c;
}
.rental-card-a .rental-card:hover{
    border: 1px solid #e7482c;
}


.vehicle-container .veh-img-cont picture img{
    width: 100%;
}

.vehicle-container{
    border: 1px solid #27272766;
    display: flex;
}

.veh-img-cont{
    width: 30%;
}
.veh-info-cont{
    flex-grow: 8;
}


.scoot-types-section{
    background-image: linear-gradient(white,white, #009fb740);
}


.veh-info-cont table,td,th{
    color: #272727;
    border-collapse: collapse;
    border: 1px solid #27272766;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.honda-section h3, .atv-section h3, .jeep-section h3{
    text-align: center;
}

.honda-section, .atv-section, .jeep-section{
    margin-top: 10%;
    border: 1px solid #27272766;
    border-radius: 12px;
}

.veh-info-cont button{
    border: none;
    color: white;
    background-color: #e7482c;
    width: 100%;
    border-radius: 11px;
    margin: 1% 0;
}
.veh-info-cont button:active{
    color: #e7482c;
    background-color: white;
}

.yellow-backG{
    background-color: #FFEC51;
}

.blue-backG{
    background-color: #009FB7;
}

.scoot-grid{
    display: grid;
    background-color: white;
}

.rental-pg{
    background: white;
    margin-bottom: 4%;
}


.block-input{
    display: flex;
    flex-direction: column;
}

.inline-input{
    display: flex;
    flex-direction: row;
}
.reservation-section{
    margin: 5% 0;
    background-image: linear-gradient(white,white, #009fb740);
    padding-bottom: 6%;
}
.reservation-container form fieldset legend{
    text-align: center;
}
.reservation-container{
    border: 1px solid #27272769;
    background-color: white;
    border-radius: 9px;
}

.personal-info{
    margin-bottom: 4%;
}

.rental-info{
    margin-bottom: 4%;
}

.personal-info label{
    text-align: center;
    margin-bottom: 4%;
}

.rental-info label{
    text-align: left;
    margin-bottom: 4%;
}

.input-m-top{
    margin-top: 2%;
}

label.block-input input:required:invalid, label.block-input select:required:invalid {
    border: 1px solid red;
    border-left: 5px solid red;
}
label.block-input select{
    padding: 3% 2%;
}
.reservation-container div{
    width: 90%;
    margin: auto;
    
}

.tours-section{
    text-align: center;
}
.tours-container{
    display: flex;
    gap: 33px;
}

.tours-container div picture img{
    width: 100%;
    max-width: 278px;
}

.tours-container div:hover {
    border: 1px solid #e7482c;
    box-shadow: 5px 10px #e7482c;
}

.location-container iframe{
    width: auto;
    border: 1px solid;
}

.location-section{
    border: 1px solid;
    border-radius: 12px;
}

.reservation-container{
    text-align: center;
    
}
.thanks-re-container{
    text-align: center;
    background-color: #00b71754;
    width: 80%;
    margin: auto;
    background-origin: 1px solid #00b71754;
    border-radius: 12px;
    padding: 6% 5%;
}
.thanks-re-container a{
    
    color: #e7482c;

}

.thanks-re-container a:active{    
    color: #e7482cc4;
}

.thanks-re-container a:hover{
    
    color: #e7482ce3;

}

.tours-section{
    margin-bottom: 5%;
    background-image: linear-gradient(white,white, #009fb740);
    padding-bottom: 5%;
}
.location-section{
    margin: 2%;
}
@media only screen and (max-width:439px){
    .hero-image{
        text-align: center;
    }

    .h-image-1-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/heropage-1-420.jpg");
    }
    .h-image-2-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/rentals-420.jpg");
    }
    .h-image-3-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/reservation-420.jpg");
    }
    .h-image-4-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/island_Cozumel-h-420.jpg");
    }
    .h-image-5-url{
        background-image: linear-gradient(#009fb70f, #009fb775),url("../images/contact-420.jpg");
    }

    .forecast div{
        height: 153px;
    }

    .forecast div img{
        width: 40px;
    }

    .forecast div p{
        font-size: .8rem;
    }

    .rent-card-sum{
        width: 40%;
    }
    .veh-info-cont table,td,th{ 
        font-size: .8rem;
        
    }
    .veh-info-cont{ 
        padding: 2% 0 0 4%;
        
    }

    .veh-info-cont table{ 
        width: 100%;    
    }

    .veh-info-cont button{
        width: 100%;
    }
    
    .reservation-container{
        width: 100%;
        padding: 13% 6%;
        
    }
    
    .tours-container{
        flex-direction: column;
        
    }

    .location-container iframe{
        height: 332px;
    }

    .social-container{
        flex-direction: column;
    }
    
}